button, button:hover, button:focus , button:after, button:active{
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
	padding: 5px 25px 5px 25px;
    font: inherit;
	cursor: pointer;
    outline: inherit;
    font-weight: 400;
    border-radius: var(--border-radius);
    background-color: var(--primary-color);
    color: #FFF;
}

button > i.material-icons, button > i {
    margin: 0px 6px 0px 0px;
}

button:hover {
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.45);
    transition: 0.15s;
}

button.only-text {
    background-color: #fff;
    color: var(--primary-color);
    border: none;
    width: auto;
    padding: 5px 0px;
}

button.only-text:hover {
    box-shadow: none;
    
}

button.secondary {
    background-color: transparent;
    color: rgb(51, 51, 51, 0.85);
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}

button.secondary:hover {
    transition: .35s;
    background-color: var(--primary-color);
    color: #fff;
}

button.dashed {
    background-color: transparent;
    border: 1px dashed var(--primary-color);
    color: var(--primary-color);
}

button.dashed:hover {
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
    transition: 0.15s;
}

button.small {
    padding: 3px 12px 3px;
}

button.large {
    padding: 9px 32px 9px;
}






button.floating {
    position: relative;
    border-radius: 100%;
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.80);
    z-index: 10000;
}

button.floating:hover {
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.80);
}

button.floating > i {
    margin: 0px;
}

button.floating.large {
    padding: 20px;
}

button.floating.small {
    padding: 12px;
}

button.floating > ul.floating-button-droplist {
    position: absolute;
    list-style: none;
    text-align: right;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    height: 100%;
}

button.floating > ul.floating-button-droplist > li.floating-button-droplist-item {
    background-color: var(--background-color);
    color: var(--primary-color);
    padding: 5px 16px;
    margin: 8px 0px;
    border-radius: var(--border-radius);
    box-shadow: 0px 0px 8px rgb(0,0,0,.45);
    transform-origin: left top;
    /* transform: translate(-120px,-40px); */
    white-space: nowrap;
    display: flex;
    opacity: 0;
    transform: scale(-1);
}

button.floating > ul.floating-button-droplist > li.floating-button-droplist-item > i {
    margin: 0px 6px 0px 0px;
}

button.floating > ul.floating-button-droplist > li.floating-button-droplist-item:hover, 
button.floating > ul.floating-button-droplist > li.floating-button-droplist-item.drop-floating-button:hover {
    box-shadow: 0px 0px 20px rgb(0,0,0,.45);
}

button.floating > ul.floating-button-droplist > li.floating-button-droplist-item.drop-floating-button {
    position: relative;
    border-radius: 100%;
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 0px 8px rgb(0,0,0,.45);
    background-color: var(--background-color);
    color: var(--primary-color);
    transform: scale(-1);
}

