button, button:hover, button:focus , button:after, button:active{
	border: none;
	padding: 5px 25px 5px 25px;
    font: inherit;
	cursor: pointer;
    outline: inherit;
    font-weight: 400;
    border: 1px solid #C1C1C1;
    border-radius: 4px;
}

button.small {
    padding: 3px 12px 3px;
}

button.large {
    padding: 9px 32px 9px;
}