.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.form > .input {
    width: 100%;
    margin-bottom: 20px;
}

.form > .submit {
    width: auto;
}

.form.newsletter {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.form.newsletter > .input{
    margin-bottom: 0px;
}

.input {
    display: flex;
    flex-direction: column;
}

.input > label {
    margin: 0px 0px 4px 0px;
}

.input.label-left {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.input.label-left > label {
    margin: 0px 8px 0px 0px;
}

.input > input {
    padding: 8px 0px 8px 8px;
    width: calc(100% - 10px);
    border-radius: 4px;
    border: 1px inset rgb(0,0,0,.35);
}

.input > input.small {
    padding: 6px 0px 6px 6px;
    width: calc(100% - 8px);
}

.input > input.large {
    padding: 12px 0px 12px 10px;
    width: calc(100% - 12px);
}