.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.form > .input, .form > .checkbox {
    width: 100%;
    margin-bottom: 20px;
}

.form > .submit {
    width: auto;
}

.form.newsletter {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.form.newsletter > .input{
    margin-bottom: 0px;
}

.input {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.input > label {
    margin: 0px 0px 4px 0px;
}

.input > .label-help {
    margin: 4px 0px 0px 0px;
    font-size: .7rem;
    opacity: .65;
}

.input.label-left > .label-help {
    margin: 0px 0px 0px 4px;
    white-space: nowrap;
}

.input.label-left {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.input.label-left > label {
    margin: 0px 8px 0px 0px;
}

.input > input, .input > textarea {
    padding: 8px 0px 8px 8px;
    width: calc(100% - 10px);
    border-radius: 4px;
    border: 1px inset rgb(0,0,0,.35);
    font-family: 'Segoe UI', sans-serif;
}

.input > textarea {
    min-height: 80px;
    resize: vertical;

}

.input > input.small {
    padding: 6px 0px 6px 8px;
    width: calc(100% - 10px);
}

.input > input.large {
    padding: 12px 0px 12px 8px;
    width: calc(100% - 10px);
}

.checkbox > label > input[type="checkbox"] {
    margin: 3px 4px 3px 0px;
}