select {
    -webkit-appearance: none; 
    -moz-appearance: none;
    border: none;
    box-shadow: none;
    appearance: none;
    background-image: url(https://ohana.s3.us-east-2.amazonaws.com/assets/select_arrow.svg);
    background-position: center right;
    background-repeat: no-repeat; 
 }

select:focus{
    background-image: url(https://ohana.s3.us-east-2.amazonaws.com/assets/select_arrow_focus.svg);
    transition: .1s;
 }

 .input > select {
    border: none;
    box-shadow: none;
    background-color: var(--background-color);
    padding: 8px 0px 8px 8px;
    width: 100%;
    outline: inherit;
    color: var(--text-color);
    border-radius: 4px;
    border: 1px inset var(--text-color);
    font-family: 'Segoe UI', sans-serif;
 }

.input > select.small {
    padding: 6px 0px 6px 8px;
    width: 100%;
}

.input > select.large {
    padding: 12px 0px 12px 8px;
    width: 100%;
}

select > option > * {
    margin: 8px 0px;
}