body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.uppercase {
    text-transform: uppercase;
}

.light {
    font-weight: 300;
}

.medium {
    font-weight: 500;
}

.bold {
    font-weight: 600;
}