body{
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    color: var(--text-color);
}

.uppercase {
    text-transform: uppercase;
}

.light {
    font-weight: 300;
}

.medium {
    font-weight: 500;
}

.bold {
    font-weight: 600;
}

.text-contrast1{
    opacity: .85;
}

.text-contrast2{
    opacity: .65;
}

.text-contrast3{
    opacity: .45;
}

a {
    color: var(--primary-color);
    text-decoration: underline;
    opacity: 1;
    cursor: pointer;
}

*::selection {
    background: var(--primary-color);
}

*::-moz-selection {
    background: var(--primary-color);
}