:root {
    --primary-color-sample: "#0590FF";
    --border-radius-sample: "4";
    --text-color-sample: "#333333";
    --background-color-sample: "#FFFFFF";
}

.title-img {
    width: 110px;
    margin-bottom: 20px;
}

.vertical-center {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
}

.vertical-center-start{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.justify-center {
    justify-content: center;
}

.content-start {
    max-width: 800px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.content {
    max-width: 800px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
}

.title {
    margin-bottom: 10px;
}

.subtitle {
    margin-bottom: 30px;
}

.input-answer{
    margin: 14px 0px;
}

.content.question {
    text-align: left;
}

.input > input { 
    border-radius: 0px;
    border: none;
    border-bottom: 3px inset var(--text-color);
    font-size: 20px;
}

.col {
    position: relative;
}

.card {
    width: 0%;
    position: fixed;
    left: 25%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.step-counter {
    color: var(--primary-color);
    position: fixed;
    left: 20px;
    top: 20px;
    z-index: 10000;
}

.button-footer {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    z-index: 10000;
}

.button-footer > button {
    margin: 0px 10px;
}

.card > button.btn-card {
    background-color: var(--primary-color-sample);
    border-radius:  var(--border-radius-sample);
    transition: all .5s;
}

.card {
    background-color: var(--background-color-sample);
    color: var(--text-color-sample);
    border-radius: var(--border-radius-sample);
    transition: all .5s;
}

.col > .card.mobile-on {
    display: none;
}

/* 
.card > .description {
    margin-bottom: 20px;
} */

/* #form {
    display: none;
} */

.display-none {
    display: none;
}

@media (max-width: 768px) {

    .vertical-center {
        height: 50vh;
    }

    .step-counter {
        left: 10px;
        top: 10px;
    }

    .card {
        width: 0%;
        position: relative;
        align-self: center;
        left: 50%;
        top: 50%;
    }

    .col > .card.mobile-on {
        display: flex;
    }
    

}