.title-img {
    width: 110px;
    margin-bottom: 20px;
}

.vertical-center {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
}

.vertical-center-start{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.justify-center {
    justify-content: center;
}

.content-start {
    max-width: 800px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.content {
    max-width: 800px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
}

.title {
    margin-bottom: 10px;
}

.subtitle {
    margin-bottom: 30px;
}

.input-answer{
    margin: 14px 0px;
}

.content.question {
    text-align: left;
}

.input > input { 
    border-radius: 0px;
    border: none;
    border-bottom: 3px inset var(--text-color);
    font-size: 20px;
}

.card {
    width: 0%;
}
/* 
.card > .description {
    margin-bottom: 20px;
} */

/* #form {
    display: none;
} */

@media (max-width: 768px) {

    .vertical-center {
        height: 50vh;
    }
}