<button class="floating floating-drop large">
    <i class="material-icons">add</i>
    <ul class="floating-button-droplist">
        <li class="floating-button-droplist-item">Baixar agora</li>
        <li class="floating-button-droplist-item">Agendar</li>
    </ul>
</button>


<!-- BOTÃO COM ICONE -->
<button class="floating floating-drop large">
    <i class="material-icons">send</i>
    <ul class="floating-button-droplist">
        <li class="floating-button-droplist-item" onclick="primaryColor('red')">Enviar agora</li>
        <li class="floating-button-droplist-item drop-floating-button"><i class="material-icons">send</i></li>
    </ul>
</button>