<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" type="text/css" href="https://ohana.s3.us-east-2.amazonaws.com/minify1.0.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

    </head>
    <body>
        <div class="container">
            <div class="block">
                <div class="col"> 
                </div>
            </div>
            <script src="https://ohana.s3.us-east-2.amazonaws.com/js/defineStyle.js"></script>
    </body>
</html>